<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Ebscohost Query Maker</title>
  <script defer src="main.js?248b3a08c2b403161129"></script><link href="index.css?248b3a08c2b403161129" rel="stylesheet"></head>
  <body>
    <div class="container">
      <h1>Ebscohost Query Maker</h1>
      <p class='meta'>11/30/2021 by <a href="https://daveeargle.com">Dave Eargle</a></p>

      <p class='lead'>Querying Ebscohost for specific journals and keywords is painful. So use this tool!</p>

      <p>By default, this tool filters to just the <a
      href="https://www.ft.com/content/3405a512-5cbb-11e1-8f1f-00144feabdc0">FinancialTimes
      FT-50 journal list</a>.  It can optionally also include several other
      journals from the <a
      href="https://aisnet.org/page/SeniorScholarBasket">AIS-8</a>.</p>

      <p>This tool uses EBSCOHOST's <em>Business Source Complete</em> database. (See <a
      href="https://connect.ebsco.com/s/article/EBSCOhost-Database-Short-Names-List?language=en_US">here</a>
      for a list of all ebscohost databases.)</p>

      <p>For a list of all
      journals in the Business Source Complete database, see <a
      href="https://www.ebsco.com/m/ee/Marketing/titleLists/bth-journals.htm">here</a>.</p>

      <p>The direct-link urls are constructed following <a
        href="https://connect.ebsco.com/s/article/What-is-the-correct-syntax-for-an-EBSCOhost-or-EBSCO-Discovery-Service-Persistent-Link?language=en_US#kwmd">these
        direct-link guidelines</a>.</p>



      <div v-cloak class="" id='app'>


          <p>For a direct link to ebscohost Business Source Complete database, see <a :href="baseurl">here</a>. You will have to authenticate through whatever means you have available.</p>

          <div class="mb-3">

            <h3>Journals</h3>

            <p>Check the box below to customize journals to include in the search.</p>

            <p>By default, journals in the FT-50 are selected. But the list also
              includes available journals from the AIS-8. Either set can be selected, and individual journals can be selected or unselected.</p>

            <div class="">
              <input type="checkbox" id="expand-journal-list" v-model="expand_journal_list">
              <label for="expand-journal-list">Customize journal list</label>
            </div>

            <div v-if="expand_journal_list">

              <button type="button" name="button" v-on:click="select_all">(all)</button> |
              <button type="button" name="button" v-on:click="select_none">(none)</button> |
              <button type="button" name="button" v-on:click="select_ft_50">FT-50 (default)</button> |
              <button type="button" name="button" v-on:click="select_ais_8">AIS-8 (except JSIS<sup>*</sup>)</button>

              <small><sup>*</sup>JSIS is not included in EBSCO's business source complete database!</small>

              <ul id="example-1">
                <li v-for="journal in journals" :key="journal.ebsco_journal_name">
                  <input
                    type="checkbox"
                    :id="journal.journal_name_ebsco"
                    :value="journal"
                    v-model="filtered_journals"
                    checked
                    >
                  <label :for="journal.journal_name_ebsco">{{ journal.journal_name_display }}</label>
                </li>
              </ul>
            </div>

          </div>

          <div class="mb-3">

            <h3>Keywords</h3>
            <p>Optionally, include keywords to search for.</p>
            <p>This tool will create
              a query that searches for papers that include the term in the article's <strong>title, abstract, or keywords</strong>.</p>

            <p>If more than one keyword is set, then the join method can be customized (e.g., 'AND', 'OR').</p>


            <div class="">


            <div class="row">

              <div class="col-sm-4">
                <ul class="list-group" id="keywords">
                  <li class="list-group-item" v-for="(keyword, index) in keywords" :key="keyword + index">
                    {{ keyword }}
                    <button type="button" class="close" aria-label="Close" v-on:click="delete_keyword(index)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </li>
                </ul>

                <form v-on:submit.prevent="add_keyword" class='my-2'>
                  <input v-model="new_keyword" placeholder="new keyword">
                  <button
                    :disabled="!!!new_keyword"
                    type="submit"
                    name="button"
                    >Add</button>
                </form>
              </div>
            </div>

            <div class="">
              <template v-if="keywords.length > 1">
                <div class="">
                  <span class='mr-2'>Keyword list join method:</span>
                  <span class="">
                    <input type="radio" id="keyword-and" value="AND" v-model="keyword_join">
                    <label for="keyword-and">AND</label>
                  </span>
                  <span class="">
                    <input type="radio" id="keyword-or" value="OR" v-model="keyword_join">
                    <label for="keyword-or">OR</label>
                  </span>
                </div>
              </template>
            </div>

            <div class="">

              <div class="">
                <input type="checkbox" id="show-keyword-subquery" v-model="show_keyword_bquery">
                <label for="show-keyword-subquery">Show keyword subquery</label>
              </div>

              <div class="" v-if="show_keyword_bquery">
                <p><code>{{ keyword_bquery }}</code></p>
              </div>
            </div>

          </div>

        </div>


        <div class="mb-3">
          <h3>Query</h3>
          <p>Copy the query. Then, go to business source complete and paste in the query.</p>

          <div class="">
            <p><code>{{ bquery }}</code></p>
            <p><button type="button" name="button" class='btn btn-outline-primary' v-on:click="copy_to_clipboard">Copy query to clipboard</button> <span v-if="copied">Copied!</span></p>
          </div>
        </div>


        <p> <a :href="baseurl" class='btn btn-primary'>Go to Business Source Complete</a> </p>
        <p>You will have to authenticate through whatever means you have available.</p>

        <hr/>

        <div class="">
          <p>It is possible to generate a direct link to ebscohost databases that include the query, but if the query is too long, the web server will return a 404-not-found error message. Including all FT-50 journals on its own surpasses the url length limit. Nevertheless, a direct link including the query is provided below.</p>
          <p>
            <a class='btn btn-link' :href="url_with_bquery">Direct Query Link</a>
          </p>
          <p>If this link returns a 404 error, then the link is too long. Instead, visit <a
          :href="baseurl">{{ baseurl }}</a> and paste in the query from this
          page.</p>
        </div>


        <h3>Footnotes</h3>
        <ul>
          <li>The journal names in the query must exactly match ebscohost's name for that journal, with wildcard's permitted. Some journals are listed multiple times in ebscohost's database, because they have had more than one publisher over the year. This tool accounts for such journals by including `(*` at the end of the ebscohost journal name.</li>
        </ul>


        <h3>Links</h3>
        <ul>
          <li><a href="https://github.com/deargle/ebscohost-query-maker/">Source-code repository on github</a> -- submit bug reports, requests, etc.</li>
          <li><a href="https://github.com/deargle/ebscohost-query-maker/CHANGELOG.md">CHANGELOG.md</a></li>
        </ul>

      </div>
      <div id='loading' class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      
    </div>
  </body>
</html>
